.new-section{
    position: relative;
    margin-top: 30px;
    padding: 0px 0 0 0;
}

.tie{
    position: absolute;
    left: -10px;
    top: -19px;
}
.tie span{
    display: block;
    margin-top: -38px;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.tie h2{
    margin-top: 5px;
}
.best:before{
    border-bottom: 20px solid #F25A59;
    border-right: 10px solid transparent;
    border-top: 20px solid #F25A59;
    content: "";
    display: inline-block;
    width: 228px;
}
.best:after{
    border-left: 9px solid transparent;
    border-right: 0 solid transparent;
    border-top: 9px solid #B03935;
    content: "";
    position: absolute;
    left: 0px;
    top: 40px;
}

.see-more{
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
    position: relative;
    min-height: 20px;
}

.new-category-mobile{
    position: initial;
    text-align: center;
    border: 1px solid #ababab;
    padding: 3px;
}

.new-category-mobile a{
    text-align: center;
    display: inline;
    color: #777 !important;
    padding: 0 20px;
}

.see-more .new-category a{
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    padding: 0 20px;
    color: #777 !important;
    cursor: pointer;
}

.new-category-mobile a.active, .new-category a.active{
    color: #B03935 !important;
}

.see-more .see-all{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline !important;
    color: #B03935 !important;
    cursor: pointer;
}
