<!--Q&A-->
<div class="container">
  <div id="qnaAccordion" data-children=".item">
    <div class="item">
      <a data-toggle="collapse" data-parent="#qnaAccordion" href="#paymentMethod" aria-expanded="true" aria-controls="paymentMethod">
      Phương thức thanh toán
    </a>
      <div id="paymentMethod" class="collapse show" role="tabpanel">
        <div class="content">
          <p class="text">
            Bạn vui lòng chuyển khoản đến một trong các tài khoản sau:
          </p>
          <p class="text">
            (Nội dung chuyển khoản: <b>Viết Họ tên không có dấu - Số điện thoại bạn đã đặt hàng</b>)
          </p>
          <div class="row bank">
            <div class="col-3 logo">
              <img src="../assets/images/vcb.jpeg" />
            </div>
            <div class="col-9 detail">
              <span>Tên TK - Vũ Thị Quỳnh Như </span><br>
              <span>Số TK - 0121001226438 </span><br>
              <span>VCB chi nhánh Nhơn Trạch Đồng Nai</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <a data-toggle="collapse" data-parent="#qnaAccordion" href="#purchaseGuide" aria-expanded="true" aria-controls="purchaseGuide">
      Hướng dẫn mua hàng
    </a>
      <div id="purchaseGuide" class="collapse show" role="tabpanel">
        <div class="content guide">
          <p class="text">
            <b>1. Chọn sản phẩm từ trang chủ, hoặc từ các trang danh mục</b>
          </p>
          <ul>
            <li> Chọn theo danh mục</li>
            <li> Chọn theo kích cỡ</li>
            <li> Chọn theo phân khúc giá</li>
          </ul>
          <img class="d-none d-md-block"src="../assets/images/guide/guide-1.jpg" />
          <img class="d-md-none"src="../assets/images/guide/guide-1-m.jpg" />
          <br>
          <p class="text">
            <b>2. Xem chi tiết sản phẩm và mua hàng</b>
          </p>
          <ul>
            <li> Lưu ý phải nhấp chọn đầy đủ màu và kích cỡ sản phẩm</li>
            <li> Thay đổi số lượng (nếu cần)</li>
            <li> Thêm vào giỏ hàng</li>
            <li> Có thể xem thêm những sản phẩm cùng loại bên dưới</li>
          </ul>
          <img class="d-none d-md-block"src="../assets/images/guide/guide-2.jpg" />
          <img class="d-md-none"src="../assets/images/guide/guide-2-m.jpg" />
          <br>
          <p class="text">
            <b>3. Xem chi tiết đơn hàng</b>
          </p>
          <ul>
            <li> Nhấp vào biểu tượng Giỏ hàng góc trên bên phải để xem chi tiết</li>
            <li> Cung cấp đầy đủ thông tin về thông tin người đặt hàng</li>
            <li> Có thể xóa sản phẩm hoặc cập nhật số lượng sản phẩm trong giỏ hàng</li>
            <li> Nhấp "Đặt hàng" để xác nhân đơn hàng</li>
          </ul>
          <img class="d-none d-md-block"src="../assets/images/guide/guide-3.jpg" />
          <img class="d-md-none"src="../assets/images/guide/guide-3-m.jpg" />
          <br>
          <p class="text">
            <b>4. Hoán tất đơn hàng</b>
          </p>
          <ul>
            <li> Sau khi đặt hàng ở bước 3, bạn sẽ nhân được một email xác nhận đơn hàng gửi đến địa chỉ email bạn đã cung cấp.</li>
            <li> Bạn lưu ý mã đơn hàng để có thể tiện theo dõi trạng thái đơn hàng</li>
            <li> Shopquynhnhu.com sẽ liên hệ trực tiếp với bạn qua điện thoại để xác nhận đơn hàng và phí vận chuyển (nếu có)</li>
            <li> Vui lòng xem chi tiết về phí vận chuyển ở đây</li>
          </ul>
          <img class="d-none d-md-block"src="../assets/images/guide/guide-4.png" />
          <img class="d-md-none"src="../assets/images/guide/guide-4-m.png" />
          <br>
        </div>
      </div>
    </div>
    <div class="item">
      <a data-toggle="collapse" data-parent="#qnaAccordion" href="#shippingMethod" aria-expanded="false" aria-controls="shippingMethod">
      Hỗ trợ khác
    </a>
      <div id="shippingMethod" class="collapse show" role="tabpanel">
        <div class="content">
          <p class="text">
            Miễn phí vận chuyển với đơn hàng hơn 500k
          </p>
          <p class="text">
            Đổi trả sản phẩm nhanh chóng trong vòng 48h
          </p>
          <p class="text">
            Tư vẫn miễn phí qua điện thoại: 0979-925-075
          </p>
        </div>
      </div>
    </div>
  </div>
</div>