<!--Q&A-->
<div class="container">
  <div id="qnaAccordion" data-children=".item">
    <div class="item">
      <a data-toggle="collapse" data-parent="#qnaAccordion" href="#paymentMethod" aria-expanded="true" aria-controls="paymentMethod">
      Phương thức thanh toán
    </a>
      <div id="paymentMethod" class="collapse show" role="tabpanel">
        <div class="content">
          <p class="text">
            Bạn vui lòng chuyển khoản đến một trong các tài khoản sau:
          </p>
          <p class="text">
            (Nội dung chuyển khoản: <b>Viết Họ tên không có dấu - Số điện thoại bạn đã đặt hàng</b>)
          </p>
          <div class="row bank">
            <div class="col-3 logo">
              <img src="../assets/images/vcb.jpeg" />
            </div>
            <div class="col-9 detail">
              <span>Tên TK - Vũ Thị Quỳnh Như </span><br>
              <span>Số TK - 0121001226438 </span><br>
              <span>VCB chi nhánh Nhơn Trạch Đồng Nai</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <a data-toggle="collapse" data-parent="#qnaAccordion" href="#shippingMethod" aria-expanded="false" aria-controls="shippingMethod">
      Hỗ trợ khác
    </a>
      <div id="shippingMethod" class="collapse show" role="tabpanel">
        <div class="content">
          <p class="text">
            Miễn phí vận chuyển với đơn hàng hơn 500k
          </p>
          <p class="text">
            Đổi trả sản phẩm nhanh chóng trong vòng 48h
          </p>
          <p class="text">
            Tư vẫn miễn phí qua điện thoại: 0979-925-075
          </p>
        </div>
      </div>
    </div>
  </div>
</div>