.shopping-cart .order-item-labels{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: .8rem 0;
}

.shopping-cart .heading{
    font-weight: 700;
    font-size: 1.4rem;
}
.shopping-cart .sub-heading{
    font-weight: normal;
    font-size: 1rem;
    color: #666;
}

.shopping-cart .show{
    max-height: 800px;
    opacity: 1;
    border: 1px solid #e5e5e5;
    border-radius: .3rem;
    box-shadow: 0 2px 3px 1px rgba(102,102,102,.1);
    margin: 1.2rem 0;
    visibility: visible;
}

.order-item .image-container{
    padding: 1rem 0 1rem 1rem;
}
.order-item img{
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
}
.order-item .product-details{
    align-items: stretch;
    display: inline-block;
    height: 100%;
    overflow-wrap: break-word;
    padding: 1rem 0;
    color: #222;
}

.order-item .product-details a{
    color: #222;
}
.order-item .product-details .btn-xs{
    padding: .1rem .8rem;
    font-size: .8rem;
}
.order-item .product-details .sku{
    color: #666;
    font-size: 0.7rem;
}

.order-item .action-btns{
    display: flex
}

.order-item .btn-qty{
    border-color: #666;
    border-radius: 17px;
    display: inline;
    font-size: 1.2rem;
    line-height: 0;
    padding: 5px;
    width: 1.5rem;
    height: 1.5rem;
}

/*SHIPPING PART*/
.shipping label.has-float-label{
    margin-bottom: 0;
}
.shipping .user-info, .shipping .total-info{
    border: 1px solid #ababab;
    padding: 10px;
}

.shipping .user-info h1, .shipping .total-info h1{
    font-size: 18px;
    color: #de1545;
}

.shipping .user-info h2, .shipping .total-info h2{
    font-size: 16px;
    color: #de1545;
}

.shipping input.ng-valid.ng-touched{
    border-left: 5px solid green;
}

.shipping input.ng-invalid.ng-touched{
    border-left: 5px solid red;
}

.shipping .error-msg{
    color: red;
    font-size: 12px;
}

.shipping .guide-msg{
    color: #333;
    font-size: 12px;
    text-align: left;
}

.shipping .has-ok{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
    right: 10px;
    background: url("../../../assets/images/icons/check-mark.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    z-index: 1;
}

.shipping .email-section, .shipping .fullname-section, .shipping .phone-section, .shipping .address-section, .shipping .province-section{
    position: relative;
    margin-bottom: 10px;
}

.total-info .action-btn{
    border-top: 1px solid #ababab;
    padding-top: 10px;
}

.total-info label{
    font-weight: 700;
}

.total-info .sum label{
    font-size: 18px;
    color: #de1545;
}