.shopping-cart .order-item-labels{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: .8rem 0;
}

.shopping-cart .heading{
    font-weight: 700;
    font-size: 1.4rem;
}
.shopping-cart .sub-heading{
    font-weight: normal;
    font-size: 1rem;
    color: #666;
}

.shopping-cart .show{
    max-height: 800px;
    opacity: 1;
    border: 1px solid #e5e5e5;
    border-radius: .3rem;
    box-shadow: 0 2px 3px 1px rgba(102,102,102,.1);
    margin: 1.2rem 0;
    visibility: visible;
}

.order-item .image-container{
    padding: 1rem 0 1rem 1rem;
}
.order-item img{
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
}
.order-item .product-details{
    align-items: stretch;
    display: inline-block;
    height: 100%;
    overflow-wrap: break-word;
    padding: 1rem 0;
    color: #222;
}

.order-item .product-details a{
    color: #222;
}
.order-item .product-details .btn-xs{
    padding: .1rem .8rem;
    font-size: .8rem;
}
.order-item .product-details .sku{
    color: #666;
    font-size: 0.7rem;
}

.order-item .action-btns{
    display: flex
}

.order-item .btn-qty{
    border-color: #666;
    border-radius: 17px;
    display: inline;
    font-size: 1.2rem;
    line-height: 0;
    padding: 5px;
    width: 1.5rem;
    height: 1.5rem;
}