<!-- Page Content -->
<div class="container mt-2">
  <div class="row" *ngIf="products.length > 0">
    <div class="col-lg-3 col-md-3 col-sm-6 mb-4" *ngFor="let product of products | paginate: { itemsPerPage: 12, currentPage: p, totalItems: totalItems }">
      <product-box [product]="product"></product-box>
    </div>
  </div>

  <div *ngIf="products.length==0">
    <p>Chưa có sản phẩm nào</p>
  </div>

  <pagination-controls class="qns-paging" (pageChange)="onPageChanged($event)"></pagination-controls>
  
</div>
<!-- /.container -->