img.thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 50px; /* Set a small width */
    height: 50px;
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

img.front-show{
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    width: 400px; /* Set a small width */
    height: 300px;
}

.zoom-container{
    z-index: -1;
}

/*set a border on the images to prevent shifting*/
 #gal_01 img{border:2px solid white;}
 
 /*Change the colour*/
 .active img{border:2px solid #333 !important;}

 .thumb-size{
    width: 40px;
    text-align: center;
    border: 1px solid #888;
    margin-right: 10px;
    position: relative;
 }

 .thumb-size.selected, .thumb-color.selected{
     border-color: red;
 }

 .thumb-size.disabled, .thumb-color.disabled{
     border-color: #ddd;
     pointer-events: none;
 }

 .thumb-size.disabled img, .thumb-color.disabled img{
     opacity: 0.3;
 }

 .thumb-size.disabled:after, .thumb-color.disabled:after{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #555;
    width: 55px;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    }

 .thumb-color{
    text-align: center;
    border: 1px solid #ddd;
    margin-right: 10px;
    position: relative;
 }

 .thumb-color img{
    width: 40px;
    height: 40px !important;
    text-align: center;
    height: auto;
 }

 .quantity input{
     width: 100px;
 }