<div class="box-product card h-100">
  <a (click)="viewDetail(product)"><img class="card-img-top" [src]="product.images[0].filepath" alt=""></a>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/product', product.productCode]">{{product.productName}}</a>
    </h4>
    <div class="d-flex" *ngIf="!product.isOnSale">
      <div class="col-6 price">{{product.price | vnd}}</div>
    </div>
    <div class="d-flex" *ngIf="product.isOnSale">
      <div class="col-6 price">{{product.discountPrice | vnd}}</div>
      <div class="col-6 sale">{{product.price | vnd}}</div>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      <star-rating-comp [starType]="'svg'" [staticColor]="'default'" [readOnly]="true" [showHalfStars]="true" [rating]="avgRating"></star-rating-comp>
    </small>
  </div>

  <!--Action button section-->
  <div class="product-action">
    <a class="fa fa-shopping-basket add_to_cart" title="Cho vào giỏ hàng"></a>
    <a class="fa fa-expand add_to_cart" title="Xem nhanh"></a>
  </div>
  <div class="sale-corner" *ngIf="product.isOnSale"></div>
</div>
