<div class="new-section container">
  <!--Tie label section-->
  <div class="tie best">
    <h2 class="no-padding no-margin"><span>Dành cho trẻ em</span></h2>
  </div>
  <!--List of new products-->
  <div class="clearfix home-new-list">
    <div class="see-more">
      <a class="see-all" [routerLink]="['/kids']">Xem tất cả >></a>
    </div>
    <div class="row mt-2">
      <div class="col-lg-3 col-md-3 d-none d-md-block">
        <div class="home-girl">
          <div class="kid-title for-y">
            <a><h2 class="no-margin">Bé trai</h2></a>
          </div>
          <div class="kid-cate d-flex flex-wrap">
            <div class="col-6 item" *ngFor="let itm of boyIcons" (click)="gotoKids(itm.id)">
              <a><img [src]="itm.srcIcon"></a>
              <h5>{{itm.name}}</h5>
            </div>
          </div>
          <div class="kid-title for-x">
            <a><h2 class="no-margin">Bé gái</h2></a>
          </div>
          <div class="kid-cate d-flex flex-wrap">
            <div class="col-6 item" *ngFor="let itm of girlIcons" (click)="gotoKids(itm.id)">
              <a><img [src]="itm.srcIcon"></a>
              <h5>{{itm.name}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-xs-12">
        <div class="row mt-2">
          <div class="col-lg-4 col-md-4 col-sm-4 mb-4" *ngFor="let product of kidProducts">
            <product-box [product]="product"></product-box>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>