<!--TOP LINKS-->
<div class="qns-topbar bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-8 no-padding pl-0">
        <p class="no-margin mt-2">
          <strong><a href="tel:0979925075"><i class="fa fa-phone"></i><span class=" d-sm-inline">0979925075</span></a></strong>|
          <strong><a (click)="gotoFacebook()"><i class="fa fa-facebook"></i><span class="d-sm-inline">quynhnhuvu</span></a></strong>
        </p>
      </div>
      <div class="col-md-4 col-sm-4 col-4">
        <div class="form-inline float-right contact">
          <!--<div class="input-group input-group-sm d-none d-sm-flex">
            <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
            <input type="text" class="form-control" placeholder="Search for...">
          </div>-->
          <ul><li><a [routerLink]="['/contactus']">Liên Hệ</a></li></ul>

          <!--<a target="_blank" (click)="gotoShoppingCart()" class=" fa fa-shopping-cart"><span class="tiny-link d-sm-inline"> 
        Your cart
        ({{(shoppingCartItems$ | async).length}})
        </span> 
      </a>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row qns-header-top">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="box-logo text-center text-sm-left">
        <a class="header-logo" [routerLink]="['/']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}">
          <img src="../assets/images/logo.png" alt="QuynhNhu Fashion">
        </a>
      </div>
    </div>
    <div class="col-lg-7 d-none d-md-block">
      <div class="d-flex align-items-start">
        <div class="col-6 feature">
          <div class="media">
            <div class="media-left media-middle">
              <img class="media-object" src="../assets/images/truck-2-xl.png" alt="feature1">
            </div>
            <div class="media-body">
              <span class="feature-title">Miễn phí vận chuyển</span><br>
              <p class="no-margin">Với đơn hàng trị giá trên <b>1500K</b></p>
            </div>
          </div>
        </div>
        <div class="col-6 feature">
          <div class="media ">
            <div class="media-left media-middle">
              <img class="media-object" src="../assets/images/phone-39-xl.png" alt="feature1">
            </div>
            <div class="media-body">
              <span class="feature-title">Đặt hàng nhanh</span><br>
              <p>Gọi ngay <a href="tel:0979925075"><b>0979.925.075</b></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 d-none d-sm-block">
      <div class="box-cart text-center">
        <a (click)="gotoShoppingCart()" class="icon-cart">
          <img src="../assets/images/cart-59-xl.png" alt="QuynhNhu Fashion">
        </a>
        <div class="heading-cart text-xs-left">
          <a (click)="gotoShoppingCart()" >Giỏ hàng</a>
          <p><span>(<span class="cartCount">{{(shoppingCartItems$ | async).length}}</span>)</span> Sản phẩm</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--NAVIGATION MENU-->
<div class="qns-navbar">
  <nav class="navbar container navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}" ng-reflect-router-link="home" ng-reflect-href="/home"><span>Trang chủ</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/new']" [routerLinkActive]="['is-active']"><span>Sản phẩm mới</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/female']" [routerLinkActive]="['is-active']"><span>Thời trang nữ</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lady']" [routerLinkActive]="['is-active']"><span>Thời trang trung niên</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/kids']" [routerLinkActive]="['is-active']"><span>Thời trang trẻ em</span></a>
        </li>
        <li class="nav-item sale">
          <a class="nav-link" [routerLink]="['/sales']" [routerLinkActive]="['is-active']"><span>Khuyến mãi</span>
            <img src="../assets/images/icons/sale-1.png"/>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/accessory']" [routerLinkActive]="['is-active']"><span>Phụ kiện</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/qna']" [routerLinkActive]="['is-active']"><span>Hỏi đáp</span></a>
        </li>
      </ul>
    </div>
    
  </nav>
  <div class="mini-cart text-xs-center d-sm-none">
      <a [routerLink]="['/cart']" class="icon-cart"><img src="../assets/images/cart-59w-xl.png"></a>
      <div class="heading-cart text-xs-left">
        <span class="cartCount">{{(shoppingCartItems$ | async).length}}</span>
      </div>
    </div>
</div>