<footer>
	<div class="footer-top text-center">
		<div class="parallax">
			<div class="custom-bottom">
				<h3>SHOPQUYNHNHU.COM</h3>
				<h2>MIỄN PHÍ VẬN CHUYỂN</h2>
				<div class="des-1">CHO ĐƠN HÀNG TRÊN 500K</div>
				<div class="des-2">CHƯƠNG TRÌNH NÀY ĐƯỢC ÁP DỤNG TRÊN MỌI MẶT HÀNG CỦA CHÚNG TÔI</div>
			</div>
		</div>
	</div>

	<div class="footer-content">
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-sm-4 col-xs-6 col-footer">
					<div class="footer-menu">
						<h4 class="footer-menu-heading">Chính sách</h4>
						<ul>

							<li><a [routerLink]="['/']">Trang chủ</a></li>

							<li><a [routerLink]="['/contactus']">Giới thiệu</a></li>

							<li><a [routerLink]="['/new']">Sản phẩm</a></li>

							<li><a [routerLink]="['/contactus']">Liên hệ</a></li>

						</ul>
					</div>
				</div>


				<div class="col-md-4 col-sm-4 col-xs-6 col-footer">
					<div class="footer-menu">
						<h4 class="footer-menu-heading">Hướng dẫn</h4>
						<ul>

							<li><a [routerLink]="['/qna']">Giao nhận &amp; thanh toán</a></li>

							<li><a [routerLink]="['/qna']">Hướng dẫn mua hàng</a></li>

							<li><a [routerLink]="['/qna']">Đổi trả &amp; bảo hành</a></li>

						</ul>
					</div>
				</div>



				<div class="col-md-4 col-sm-4 col-xs-12 col-footer">
					<div class="footer-info">
						<h4 class="footer-menu-heading">Thông tin liên quan</h4>
						<ul>
							<li><i class="fa fa-map-marker"></i><span class="pl-2">531 Hoà Bình, huyện Nhơn Trạch, Đồng Nai</span></li>
							<li><i class="fa fa-phone"></i><span class="pl-2">(0251) 3519 060 </span></li>
							<li><i class="fa fa-envelope"></i><span class="pl-2">fashionquynhnhu@gmail.com</span></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</footer>