.parallax {
    /* The image used */
    background-image: url("../../../assets/images/parallax.jpg");

    /* Set a specific height */
    min-height: 300px; 
    padding-top: 80px;
    padding-bottom: 80px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.parallax:after{
    left: 0;
    bottom: 0;
    width: 100%;
    content: " ";
    height: 100%;
    text-align: center;
    position: absolute;
    background: rgba(0,0,0,0.6);
}

.custom-bottom{
    z-index: 1;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.custom-bottom h3{
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.custom-bottom h2{
    color: #eadd4b;
    font-family: 'Roboto',sans-serif;
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
}

.custom-bottom .des-1{
    font-size: 18px;
    color: #0eba9e;
    position: relative;
    margin-bottom: 40px;
}

.footer-content{
    background: #222;
    padding: 50px 0;
}
.footer-content ul{
    list-style: none;
    padding: 0;
}

.footer-menu-heading, .footer-menu {
    color: #fff;
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
}

.footer-info ul li, .footer-menu ul li a {
    color: #777;
    font-size: 14px;
    line-height: 24px;
}
