<!--SIDEBAR SUBMENU-->
<div class="sidenav-wrapper d-md-flex">
  <!-- Close Sidebar Button -->

  <nav id="sidebar">

    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <h3>Collapsible Sidebar</h3>
      <div id="dismiss" class="d-md-none">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </div>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-group">
      <li *ngFor="let cat of categories" class="list-group-item" [class.active]="cat === selectedCategory" (click)="onSelect(cat)">
        <span>{{cat.id}} {{cat.description}} </span>
      </li>
    </ul>
  </nav>

  <div id="content" class="w-100">
    <div id="sidebarCollapse" class="d-flex flex-row action-bar">
      <div class="d-md-none p-2" (click)="toggleSidebar()">
        <i class="fa fa-arrow-circle-left"></i>
      </div>
      <div class="p-2">{{selectedCategory.description}}</div>
    </div>

    <router-outlet></router-outlet>

    <div class="overlay">
    </div>
  </div>
</div>