<!--SIDEBAR SUBMENU-->
<div class="sidenav-wrapper d-md-flex container">
  <!-- Close Sidebar Button -->

  <nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <h3><i class="icon fa fa-bars mr-1"></i>Danh mục</h3>
      <div id="dismiss" class="d-md-none">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </div>
    </div>

    <ul class="nav flex-column d-block">
      <li class="nav-item" [class.active]="selectedCategory === defaultCategory" (click)="onSelect(defaultCategory)">
        <a><i class="icon fa fa-angle-double-right"></i>{{defaultCategory.name}}</a>
      </li>
      <li class="sub-header girl">Bé gái</li>
      <li *ngFor="let gcat of girlCategories" class="nav-item" [class.active]="gcat === selectedCategory" (click)="onSelect(gcat)">
        <a><i class="icon fa fa-angle-double-right"></i>{{gcat.name}}</a>
      </li>
      <li class="sub-header boy">Bé trai</li>
      <li *ngFor="let bcat of boyCategories" class="nav-item" [class.active]="bcat === selectedCategory" (click)="onSelect(bcat)">
        <a><i class="icon fa fa-angle-double-right"></i>{{bcat.name}}</a>
      </li>
    </ul>


    <!-- Sidebar Header -->
    <div class="sidebar-header mt-2">
      <h3><i class="icon fa fa-filter mr-1"></i>Chọn giá</h3>
      <div id="dismiss" class="d-md-none">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </div>
    </div>

    <ul class="nav flex-column">
      <li *ngFor="let range of priceRange; let idx = index" class="nav-item" [class.active]="range === selectedPrice" (click)="onPriceSelect(idx)">
        <a>
          <i class="icon fa fa-square-o" *ngIf="!range.selected"></i>
          <i class="icon fa fa-check-square-o" *ngIf="range.selected"></i>
          {{range.label}}</a>
      </li>
    </ul>
  </nav>

  <div id="content" class="w-100">
    <div id="sidebarCollapse">
      <div class="action-bar d-flex">
        <div class="title col-6"><i class="icon fa fa-snowflake-o"></i>{{selectedCategory.name}}</div>
        <div class="col-6 d-md-none back-select" >
          <a><i class="icon fa fa-arrow-circle-left"></i>Lựa chọn</a>
        </div>
      </div>
      <nav aria-label="breadcrumb" role="navigation" class="d-block">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/']"><i class="fa fa-home"></i>  Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/kids']">Thời trang trẻ em</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{selectedCategory.name}}</li>
        </ol>
      </nav>
    </div>
    <router-outlet></router-outlet>
    <!--<product-list [products]="products"></product-list>-->

    <div class="overlay">
    </div>
  </div>
</div>